<section id="footer">
    <div class="footerTop">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <h3>Main Menu</h3>
                    <hr>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <h3>Around The Web</h3>
                    <hr>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <h3>Contact Us</h3>
                    <hr>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <h3>Tags</h3>
                	<hr>
                </div>
            </div>
        </div>
    </div>
    <div class="footerBot">
    	&copy; Copyright Your Website 2016
    </div>
</section>